NEXT_PUBLIC_INSFORGE_BASE_URL=https://w228a8tb.us-east.insforge.app
NEXT_PUBLIC_INSFORGE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3OC0xMjM0LTU2NzgtOTBhYi1jZGVmMTIzNDU2NzgiLCJlbWFpbCI6ImFub25AaW5zZm9yZ2UuY29tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk4ODcyNDV9.VhIjnPDzMWnfGCVVO5uAw4Q3g9XsXZ0GhnYJwwH9TII
INSFORGE_PROJECT_API_KEY=ik_568834df4c7635a72719ef9339ac8590

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y2xvc2luZy1wb3NzdW0tMzIuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_43zT6FvpOlLpNRGL9tS19wEwObl14r8asxKsSx6vTF

CLERK_INSFORGE_TEMPLATE=insforge
NEXT_PUBLIC_CLERK_INSFORGE_TEMPLATE=insforge

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

#NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=https://871f-102-210-105-71.ngrok-free.app


TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_AUTH_URL=https://x.com/i/oauth2/authorize
TWITTER_TOKEN_URL=https://api.x.com/2/oauth2/token
TWITTER_PROFILE_URL=https://api.x.com/2/users/me?user.fields=profile_image_url,username
TWITTER_SCOPES=tweet.read,users.read,tweet.write,offline.access,media.write

CHANNEL_OAUTH_STATE_SECRET=6c81539566722c9885240b07b08c246f785c448c8fd3a047bafd511c3d032966
CHANNEL_TOKEN_ENCRYPTION_KEY=ea6655c8a47da8e98556b4734494feb39a9fc1dd645bdf0da773036bdb1dbffe

INNGEST_DEV=1